body {
    background-color: hsl(216, 12%, 8%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Overpass";
    padding: 15px;
}

html {
    height: 100vh;
}

p {
    font-size: 15px;
    color: hsl(216, 12%, 54%);
}

.container {
    display: flex;
    flex-direction: column;
    background: radial-gradient(
        circle at top,
        hsl(213, 19%, 18%) 10%,
        hsl(216, 12%, 8%) 120%
    );
    height: 350px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
}

.wrapper {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: hsl(214, 23%, 18%);
    display: flex;
    justify-content: center;
    align-items: center;
}

ul .wrapper:hover:not(.selected) {
    background-color: hsl(216, 12%, 54%);
    color: white;
}

.star-icon {
    height: 20px;
    width: 20px;
}

.selected {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

li {
    color: hsl(216, 12%, 54%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    text-align: center;
}

li:hover {
    cursor: pointer;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.attribution {
    position: absolute;
    font-size: 11px;
    text-align: center;
    bottom: 10px;
}

button {
    height: 40px;
    border-radius: 20px;
    background-color: hsl(25, 97%, 53%);
    border: none;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
}

button:hover {
    height: 40px;
    border-radius: 20px;
    background-color: white;
    border: none;
    color: hsl(25, 97%, 53%);
    letter-spacing: 2px;
}

.thank-you-image {
    height: 40%;
    object-fit: scale-down;
}

.selected-rating {
    height: 40px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    background-color: hsl(214, 23%, 18%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(25, 97%, 53%);
}

.thanks {
    align-items: center;

}

.thanks p {
    text-align: center;
   
}

.hide {
    display: none;
}
